@model IEnumerable<BlogWebApp.Models.SubCategory>

@{
    ViewData["Title"] = "Index";
}

<h1>Subcategory List</h1>


<div class="col-sm-6 d-flex-column flex-grow-0 align-items-center justify-content-end">
    <a asp-area="Admin" asp-controller="SubCategories" asp-action="Create"
       class="d-none d-sm-inline btn btm-sm btn-success shadow-sm">
        <i class="bi bi-plus-square" data-bs-toggle="tooltip" title="Add" style="font-size:15px"> Add New Category</i>
    </a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubCategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                    <div class="w-75 btn-group" role="group">

                        <a asp-area="Admin" asp-controller="SubCategories" asp-action="Edit" asp-route-id="@item.Id"
                           class="d-none d-sm-inline-flex btn btn-sm btn-primary shadow-sm">
                            <i class="bi bi-pencil-square" data-bs-toggle="tooltip" title="Edit" style="font-size:15px"> Edit</i>
                        </a>
                        <a asp-area="Admin" asp-controller="SubCategories" asp-action="Delete" asp-route-id="@item.Id"
                           class="d-none d-sm-inline-flex btn btn-sm btn-danger shadow-sm">
                            <i class="bi bi-x-square" data-bs-toggle="tooltip" title="Delete" style="font-size:15px"> Delete</i>
                        </a>
                    </div>

            </td>
        </tr>
}
    </tbody>
</table>
