@{
    ViewData["Title"] = "Home Page";
}


<div class="row mb-2">
    <div class="leftcolumn">
    <div class="card">
            <h2>@Model.Title</h2>
            <h5>@Model.Description, @Model.CreatedDate</h5>
            <div class="col-auto d-none d-lg-block">
                <img class="img-fluid" src="@Model.TitleImageUrl" style="width:500px;height:500px">
            </div>
            <br />
            <div>@Html.Raw(Model.Content)</div>
    </div>
</div>


</div>
